<section class="section-admin">
<h2>Messages</h2>

<div class="search">
    <form action="/admin/messages/search" class="search-form">
    <div class="row">
        <div class="col search-bar span-3-of-4">
            <input type="search" name="term" placeholder="Type sender's name" value={{term}}>
        </div>
        <div class="col search-button span-1-of-6">
            <input type="submit" value="Search">
        </div>
    </div>
    
    </form>
</div>

{{#each contacts}}
<div class="row">
    <div class="messages">
        <h3>{{name}}</h3>
        <p>Email: {{email}}</p>
        <p>Message: {{ message }}</p>

        <div class="info">
        <small>Subscribed: <span>{{news}}</span></small><br/>
        <small>Date: <span>{{createdAt}}</span></small>
        </div>
    </div>
</div>
{{else}}
<P class="long-copy">No messages yet</P>
{{/each}}

</section>